<% layout('layouts/boilerplate')%>
    <h1>山行一覧</h1>
    <div>
        <a href="/mountains/new">Add New Mountain</a>
    </div>
    <% for (let mountain of mountains){%>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <%if(mountain.images.length) {%>
                    <img class="img-fluid" alt="" src="<%=mountain.images[0].url%>">
                    <% }else {%>
                        <img class="img-fluid" alt=""
                            src="https://res.cloudinary.com/dicdombr3/image/upload/v1657259575/YAMAinJapan/pq07ehhhaha7h5edthua.jpg">
                        <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= mountain.title%>
                        </h5>
                        <p class="card-text">
                            <%= mountain.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= mountain.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/mountains/<%=mountain._id%>">View <%= mountain.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>